* {
    padding: 0;
    margin: 0;
}

.container {
    background: #cfcfcf;
    min-height: 100vh;
    text-align: center;
}

.menu {
    background-color: #8d18a5;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav-link {
    color: lavender;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover {
    background-color: #731386;
}

.nav-link:active {
    background-color: #590f68;
}

.logout-button {
    box-sizing: border-box;
    height: 47px;
    display: inline-block;
    padding: 0px 25px;
    background-color: #8d18a5;
    border: none;
    color: lavender;
}

.logout-button:hover {
    background-color: #731386;
}

.logout-button:active {
    background-color: #590f68;
}

.footer {
    text-align: left;
    background-color: #1c1a1d;
    padding: 40px 60px;
    margin-top: 100px;
}

.contacts {
    color: #a5a5a5;
    margin-bottom: 10px;
}

.contact {
    color: #413d42;
}

.sign-in-form-container {
    background: #e7e7e7;
    display: inline-block;
    width: 450px;
    margin: 70px 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sign-in-title {
    padding: 13px 0;
    color: lavender;
    font-size: 1.2rem;
    background: #8d18a5;
}

.sign-in-table {
    width: 100%;
}

.sign-in-cell {
    padding: 7px 13px;
}

.sign-in-field {
    height: 45px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 13px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sign-in-button {
    width: 100%;
    padding: 13px 0;
    background: #590f68;
    border: none;
    border-radius: 10px;
    transition-duration: 0.2s;
    color: lavender;
    font-size: 1.2rem;
}

.sign-in-button:hover {
    background: #8d18a5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.left-link {
    display: inline-block;
    text-align: left;
    width: 45%;
}

.right-link {
    display: inline-block;
    text-align: right;
    width: 45%;
}

.links {
    margin: 0 0 10px 0;
}